.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a02929;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 27px;
  color: #161313;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #17860c;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  color: #240e88;
  transition: 0.3s;
}

.openbtn:hover {
  color: #f52832;
}
